# CodeLite / workspace
.codelite/
*.workspace
*.project
*.mk

# Build folders
build-Debug/
build*/# Prerequisites
*.d

# token file
../Github_token_key
Github_token_key

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
